@font-face {
  font-family: StreetWear;
  src: url("C:/Users/hp/Documents/study/OwnStudy/Projects/NoteApp/client/src/assets/Streetwear.ttf");
}
@font-face {
  font-family: Rockybilly;
  src: url("C:/Users/hp/Documents/study/OwnStudy/Projects/NoteApp/client/src/assets/Rockybilly.ttf");
}
@font-face {
  font-family: stylish;
  src: url("C:/Users/hp/Documents/study/OwnStudy/Projects/NoteApp/client/src/assets/stylish.ttf");
}

body {
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0%;
  padding: 0%;
}
